@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  background-color: #d5d4d4;
  width: 80%;
}
/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
